<%# views/partials/footer.ejs %>
<footer>
  <hr>
  <p>&copy; <%= new Date().getFullYear() %> CSE Motors, All rights reserved.</p>

  <%# Task 3 Requirement: Add link to trigger intentional error %>
  <a href="/error/trigger" title="Trigger Intentional Error" class="error-trigger-link">Test 500 Error</a>

  <%# Add any other footer content you have %>
</footer>
