<nav class="main-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/custom">Custom</a></li>
        <li><a href="/scales">Scales</a></li>
        <li><a href="/sav">SAV</a></li>
        <li><a href="/track">Track</a></li>
    </ul>
</nav>