<nav>
    <ul class="navigation">
      <li><a href="/" title="View the CSE Motors home page">Home</a></li>
      <li><a href="#" title="View our custom options (Placeholder)">Custom</a></li>
      <li><a href="#" title="View our sedans (Placeholder)">Sedan</a></li>
      <li><a href="#" title="View our SUVs (Placeholder)">SUV</a></li>
      <li><a href="#" title="View our trucks (Placeholder)">Truck</a></li>
    </ul>
  </nav>
  
  